<div class="container">

  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-8">

      <div class="search">
        <i class="fa fa-search"></i>
        <input list="datalistOptions" type="text" class="form-control" placeholder="What are we looking for today?">
        <button class="btn btn-primary">Search</button>
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
        </datalist>
      </div>
    </div>

  </div>
</div>
